@import "../../scss/shared/shared.scss";

.projects {
    text-align: center;
}

.code-icon {
    color: $gray900;
}

.description-wrapper {
    color: $white;
    padding-bottom: rem(35px);

    @media screen and(max-width: $mobileMax) {
        padding-bottom: rem(30px);
    }
}

.title {
    display: block;
    font-size: rem(36px);
    font-weight: 500;
}

.description {
    color: $gray900;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: rem(80px);

    @media screen and(max-width: $mobileMax) {
        flex-direction: column;
    }
}

.project {
    flex-basis: calc(50% - 30px);
    padding: rem(15px);
}

.project-wrapper {
    position: relative;
    justify-content: center;
}

.image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.project-description {
    opacity: 0;
    z-index: 2;
    position: relative;
    background-color: $blue200;
    color: $white;
    padding: rem(40px) rem(30px);
    border: 4px solid $blue300;

    &:hover {
        opacity: 1;
    }
}

.project-title {
    letter-spacing: 0.1em;
    font-weight: 600;
    color: $green800;
    font-size: rem(14px);
    margin: 0;
    padding-bottom: rem(10px);
}

.project-subtitle {
    margin: 0;
    padding-bottom: rem(20px);
}

.project-details {
    color: $gray900;
}