@import '../../scss/shared/shared.scss';

.hero {
    color: $white;
    padding: rem(100px) 0;

    @media screen and(max-width: $mobileMax) {
        text-align: center;
        padding-top: rem(50px);
    }
}

.hero-wrapper {
    padding-right: rem(100px);
    flex-basis: 60%;

    @media screen and(max-width: $mobileMax) {
        padding: 0;
    }
}

.title {
    font-size: rem(36px);
    font-weight: 500;
    line-height: rem(40px);
    margin: 0;
    padding-bottom: rem(15px);

    .title-sections {
        display: block;
    }
}

.description {
    margin: 0;
    padding-bottom: rem(30px);
    color: $gray900;
}

.button-wrapper {
    display: flex;

    @media screen and(max-width: $mobileMax) {
        justify-content: center;
        padding-bottom: rem(64px);
    }
}

.button-spacing {
    margin-right: rem(20px);
}

.image-wrapper {
    flex-basis: 40%;

    @media screen and(max-width: $mobileMax) {
        padding: 0 rem(20px);
    }
}

.image {
    max-width: 100%;
    height: auto;
}