@import "../../scss/shared/shared.scss";

.skills {
    text-align: center;
}

.description-wrapper {
    color: $white;
    padding-bottom: rem(40px);

    @media screen and(max-width: $mobileMax) {
        padding-bottom: rem(30px);
    }
}

.chip-icon {
    color: $gray900;
}

.title {
    font-size: rem(36px);
    font-weight: 500;
}

.description {
    color: $gray900;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: rem(80px);
    margin: 0;

    @media screen and(max-width: $mobileMax) {
        flex-direction: column;
    }
}

.skill-wrapper {
    flex-basis: calc(50% - 20px);
    padding: rem(10px);
}

.skill {
    background-color: $blue300;
    padding: rem(16px);
    text-align: left;
}

.check-icon {
    color: $green800;
    padding-right: rem(16px);
}

.skill-name {
    color: $white;
}