.button {
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 18px;

    &.primary {
        color: $white;
        background-color: $green800;
    }

    &.secondary {
        color: $gray900;
        background-color: $blue300;
    }
}