.button {
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 18px;

    &.primary {
        color: $white;
        background-color: $green800;

        &:hover {
            background-color: $green700;
        }
    }

    &.secondary {
        color: $gray900;
        background-color: $blue300;

        &:hover {
            background-color: $blue400;
            color: $white;
        }
    }

    &.submit {
        color: $white;
        background-color: $blue800;
        border: 1px solid $white;
        cursor: pointer;

        &:hover {
            background-color: $blue700;
            border: 1px solid $blue700;
        }
    }
}