.primary-button {
    padding: 8px 25px;
    color: $white;
    background-color: $green800;
    border-radius: 4px;
}

.secondary-button {
    padding: 8px 25px;
    color: $gray900;
    background-color: $blue300;
    border-radius: 4px;
}