/* Main Colors */
$white:       #ffffff;
$black:       #000000;

$gray1000:    #fafafa;
$gray900:     #9ca3af;

$blue400:     #374151;
$blue300:     #1f2937;
$blue200:     #111827;

$green800:       #10b981;
$green700:       #059669;

/* Main Fonts */
$primaryType: 'Ubuntu', sans-serif;